@inherits LayoutComponentBase
@inject ISettingsService settingsService

<div>
    <NavMenu />
    <main role="main">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider @bind-IsDarkMode="isDarkMode" Theme="theme" />
<MudDialogProvider />
<MudSnackbarProvider />


@code {
    private MudTheme theme = new();
    private bool isDarkMode = true;
    private SettingsModel settings;

    protected override async Task OnInitializedAsync()
    {
        await LoadSettings();
    }

    private async Task LoadSettings()
    {
        settings = await settingsService.GetSettings();
        if (settings is not null)
        {
            isDarkMode = settings.IsDarkMode;
        }
        else
        {
            isDarkMode = true;
        }
    }
}