@inherits LayoutComponentBase

<div>
    <NavMenu />
    <main role="main">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider @bind-IsDarkMode="isDarkMode" Theme="theme"/>
<MudDialogProvider />
<MudSnackbarProvider />


@code {
    private MudTheme theme = new();
    private bool isDarkMode = true;
}